<div class="header">
    <img src="../assets/img/burgerpng.png" class="icon">
    <h2 class="title">Eat-Da-Burger</h2>
</div>
<div class="container">
    <div class="notEaten">
        <h2>Menu</h2>
        <ul>
            {{#each burger}} {{#unless this.devoured}}
            <li>
                {{this.id}}. {{this.burger_type}}
                <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button type="submit">Devour!</button>
                </form>
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>

    <div class="eaten">
        <h2>Devoured</h2>
        <ul>
            {{#each burger}} {{#if this.devoured}}
            <li>
                {{this.id}}. {{this.burger_type}}
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>

    <div class="addBurger">
        <h2>Add a Burger to the menu</h2>
        <form class="create-update-form" action="burger/create" method="POST">

            <div class="form-group">
                <label for="ca">Burger:</label>
                <input type="text" id="ca" name="burger_type">
                <input type="hidden" id="ca" name="devoured" value=0>
            </div>
            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>